@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.chat-window {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
}

.chat-members {
  float:left;
  height: 100%;
  width: 15%;
  outline: 1px solid #000;
  padding: 10px;
  @include border-box;

  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
}

.chat-area {
  float: left;
  height: 100%;
  width: 85%;
  padding: 10px;
  @include border-box;
}

.chat-messages {
  position: absolute;
  width: 100%;
  bottom: 20px
}

.chat-input {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin: 0px -9px;
  border: none;
  height: 16px;
  outline: 1px solid #000;
}
